<%- include(`${basePartialsPath}/head`) %>
<%- include(`${basePartialsPath}/header`) %>

<main>
  <h2>Welkom <%= participant %></h2>
  <% if(page === 1) { %>
    <%- include('partials/question1') %>
  <% } %>
  <% if(page === 2) { %>
    <%- include('partials/question2') %>
  <% } %>
  <% if(page === 3) { %>
    <%- include('partials/question3') %>
  <% } %>
  <% if(page === 4) { %>
    <%- include('partials/done') %>
  <% } %>

</main>

<%- include(`${basePartialsPath}/footer`) %>
<%- include(`${basePartialsPath}/foot`) %>
